
@font-face {
    font-family: "Quicksand-Bold";
    src : 
    url("quicksand/Quicksand_Bold.otf") format("opentype");
    }

@font-face {
    font-family: "Quicksand";
    src : 
    url("quicksand/Quicksand-Regular.otf") format("opentype");
    }

body{
    font-family: Quicksand;
    overflow-x: hidden;
}

header{

  display: flex;
  flex-wrap: wrap;
  width: 100%;

}

.range1{
  width: 100%;
}

.logo{
width: 80%;
}



.siteNom{
  font-family: "Quicksand-Bold";
  font-size:xx-large ;
  color : #ec932d;
}

.search1,
.search2{
  flex-flow: row;
}

.search2{
    display: none;
  }

@media (max-width: 767.98px) {
  .manege {
    max-height: 350px;
  }

  .search1{
    display: none;
  }
}

@media (max-width: 575.98px) {



header{
  flex-flow: unset;
  background-color: #e9882154;
  position: sticky;
}

  .siteNom {
    display: none;
  }

  .panier{
    display: none;

  }

  .articles{
    display: none;
  }

  .search1{
    display: none;
  }
/*
  .search2{
    border-bottom: 1px solid #e98821;
    display: block;
    
  }
  */
  
}

.btn1{
  background: #f27b81;

}
.btn2{
 background: #f7c44e; 
}
.btn3{
  background: #aec158;
}
.btn4{
  background:#4cbcd4 ;
}
.btn5{
  background: #e98821;
}
.btn6{
  background: #8ca8b3;
}

.menu ul li {
  padding-left: 5px;
  
}

.menu ul li button{
  
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
}

.menu ul li button:hover{
  text-shadow: 0 0 4px rgb(255, 254, 254);
  opacity: 70000%;
  
}



/*

Carousel

*/

@media (max-width: 767.98px) {
  .manege {
    max-height: 350px;
  }
}

@media (max-width: 575.98px) {
  .manege {
    display: none;
  }
}

.manege{
  position: relative;
  height: 750px;
}


.carousel{
  height: 100%;
}


/*

Categories


*/

.vaj{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
}

@media (max-width: 767.98px) {
  .vaj {
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  .vaj {
    flex-direction: column;
  }
}


.vet{
  
  height: 220px;
 
}

.ements{

  height: 100%;
  width:100%;
}

.ace{
  height: 220px;
}

.ssoires{

  height: 100%;
  width:100%;
}

.jou{
  height: 220px;

}


.ets{

  height: 100%;
  width:100%;

}
.achete{
  margin-top: -94px;
  margin-left: 20px;
}

.achete h2{
  color:#fff;
}

.achete button,
.achete button::after{

-webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}

.achete button{
  background: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  mix-blend-mode: screen;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.achete button::before,
.achete button::after{
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
  mix-blend-mode: color-burn;
}

.achete button:hover{
   
   color: #ffffff;
   background-color: #4cbbd400;
}

.achete button::after{
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.acheter button:hover::after{
  height: 100%;
}


/*

Derniers arrivages

*/

.titre{
  margin-left: 10%;
  color: #e98821;
    font-family: "Quicksand-Bold";

}

.derniers_arr{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: column;

  position: relative;
}

#p1{
  display: block;
}

#p2{
  /*visibility: collapse;*/
  display: none;
}
.row{

  display: flex;
  justify-content: center;
  flex-flow: row;
  
}

@media (max-width: 767.98px) {
  .row {
  }
}

@media (max-width: 575.98px) {
  .derniers_arr .row {
    flex-flow: column;
  }

}


.produit{
  height: 800px;
  margin-bottom: -160px;

  transition: transform 0.2s ease;
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
}

.produit:hover{
      transform: scale(1.1);

}

.ratings{
    margin-right:10px;
}

.ratings i{
    
    color:#cecece;
    font-size:32px;
}

.rating-color{
    color:#fbc634 !important;
}

.card-price{
  color: #4cbcd4;
}

.card-title:hover,
.card-title:focus{
color: #e98821;
cursor: pointer;
}

.pagination {
  display: inline-block;
  position: absolute; 
  right: 0;  
  width: 150px;  
  transform: translateY(-50%);
  bottom: 0;
}



.pagination button {
  background-color: #4cbcd4;
  color: rgb(255, 255, 255);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border-radius: 10px;
  border: 1px solid #4cbcd4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-left: 5px;
}

.pagination button.active {
  background-color: #ec932d;
  color: white;
  border: 1px solid #ec932d;
}



.pagination button:hover:not(.active) {
  background-color: #ec932de5;
  border: 1px solid #ec932d;
}

.card-img-overlay{
 left: 405px;
  font-size: 20px;
  color: #e98821;
}

.card-img-overlay i:hover,
.card-img-overlay i:focus,
.socials i:hover{
  color: #e9882191;
  text-shadow: 0 0 4px #e98821;
}

/*


FOOTER


*/


footer{
  font-weight: bold;
  position: relative;
  
}

.basdepage{
  background-image: url("images-shop/footer-bkg.png");
  background-size: cover;
    min-height: 275px;
}

.vraibasdepage{
  background-color: #e98821;
  padding: 10px;
}

.vraibasdepage h2{
  color: #fff;
  font-size: 20px;
}

.newsletter{
  background-color: #4cbcd4;
    border-radius: 15px;
    font-family: 'Quicksand-Regular';
    width: 55%;
}

.newsletter:focus{
    background-color: #51d5f3;
    color:rgb(255, 255, 255)
}

.newsletter::placeholder {
    color:rgba(0, 0, 0, 0.39);
}



.newsletterbtn{
    background-color: #4cbcd4;
    border-radius: 15px;
    padding-right: 10px;  
}
.newsletterbtn:hover {
    background-color: #308ea3;
    border-radius: 15px;  
}