body{
    font-family: Quicksand;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar .navbar-brand img {
  width: 70px;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 10px;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.page-header {
  position: relative;
  background: url() no-repeat center top fixed;
  background-size: cover;
  height: 450px;
}

@media (max-width: 767.98px) {
  .page-header {
    max-height: 350px;
  }
}
body{
    font-family: Quicksand;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar .navbar-brand img {
  width: 70px;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 10px;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.page-header {
  position: relative;
  background: url() no-repeat center top fixed;
  background-size: cover;
  height: 450px;
}

@media (max-width: 767.98px) {
  .page-header {
    max-height: 350px;
  }
}
